# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts
coverage
playwright-report
test-results

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env.local
.env.*.local
